 body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f9d6d6;
}

.carousel-container {
  max-width: 1300px;
  width: 100%;
}

.video-carousel {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  position: relative;
  overflow: hidden;
}

.video-carousel video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.video-carousel video.active {
  display: block;
}

.controlsCarrusel {
  display: flex;
  justify-content: left;
  margin-top: 20px;
}

#nextBtn {
  margin-left: auto;
}

#tiempo {
    width: 81%;
}

.controlsVideo {
  display: flex;
  justify-content: left;
  margin-top: 20px;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  background-color: #f43535;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #9a2424;
} 