body {
    font-family: Arial, sans-serif;
    text-align: left;
    flex-direction: column;
}
.test .container {
    margin-top: 20px;
}

#output {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: 1px solid #ccc;
}