h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;    
}

#cajaPrincipal {
    background-color: aliceblue;
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid aqua;
    border-radius: 10px;
    text-align: center;
}

table {
    margin: 0 auto;
}

p {
    font-size: xx-large;
    font-weight: 900;
}

input {
    font-size: larger;
    font-weight: 600;
    color: blue;
    width: 100px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid aquamarine;
    text-align: center;
}